annotated-types
anyio
certifi
cffi
charset-normalizer
click
colorama
fastapi
filelock
fsspec
h11
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
pycparser
pydantic
pydantic_core
python-multipart
PyYAML
regex
requests
safetensors
setuptools
sniffio
soundfile
starlette
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing-inspection
typing_extensions
urllib3
uvicorn
